Repository josephwibowo/mantora: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, pytest-backend, eslint, tsc-frontend

.pre-commit-config.yaml:

repos:
  # Backend Python checks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  - repo: local
    hooks:
      - id: mypy-backend
        name: mypy (backend)
        entry: bash -c 'cd backend && uv run mypy src tests'
        pass_filenames: false
        files: ^backend/
        language: system

      - id: pytest-backend
        name: pytest (backend)
        entry: uv run --project backend pytest
        pass_filenames: false
        files: ^backend/
        language: system

  # Frontend JavaScript/TypeScript checks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && pnpm eslint .'
        files: ^frontend/
        language: system
        pass_filenames: false

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: ^frontend/
        exclude: pnpm-lock.yaml

  - repo: local
    hooks:
      - id: tsc-frontend
        name: tsc (frontend)
        entry: pnpm --filter frontend typecheck
        pass_filenames: false
        files: ^frontend/
        language: system

chore(ci): fix mypy unusedignore for duckdb
  backend/pyproject.toml
  backend/src/mantora/cli/demo.py
Due: mypy-backend, pytest-backend

chore(ci): fix frontend formatting and use local prettier
  .pre-commit-config.yaml
  frontend/eslint.config.js
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/api/queries.ts
  frontend/src/api/sse.ts
  frontend/src/api/types.ts
  frontend/src/components/Artifacts/ArtifactTile.tsx
  frontend/src/components/BlockerModal.tsx
  frontend/src/components/CastRenderer.tsx
  frontend/src/components/JsonViewer.tsx
  frontend/src/components/Layout/AppHeader.tsx
  frontend/src/components/Layout/DashboardLayout.tsx
  frontend/src/components/Layout/ProtectiveModeBadge.tsx
  frontend/src/components/RightPanel/RightPanel.tsx
  frontend/src/components/RightPanel/Timeline/TimelineFeed.tsx
  frontend/src/components/SessionStatsBar.tsx
  frontend/src/components/StatePill.tsx
  frontend/src/components/TableCast.tsx
  frontend/src/components/Workspace/EvidenceWorkspace.tsx
  frontend/src/components/Workspace/StatusBanner.tsx
  frontend/src/main.tsx
  frontend/src/pages/SessionDetailPage.tsx
  frontend/src/pages/SessionsPage.tsx
  frontend/src/pages/__tests__/SessionDetailPage.test.tsx
  frontend/src/pages/__tests__/SessionsPage.test.tsx
  frontend/src/setupTests.ts
  frontend/src/theme/ColorModeContext.tsx
  frontend/src/theme/components.ts
  frontend/src/theme/mantoraTheme.ts
  frontend/src/theme/palette.ts
  frontend/src/theme/typography.ts
  frontend/src/utils/clipboard.ts
  frontend/src/utils/guards.ts
  frontend/src/utils/markdown.ts
  frontend/src/utils/stepUtils.ts
  frontend/tsconfig.build.json
  frontend/vite.config.ts
  frontend/vitest.config.ts
Due: eslint, tsc-frontend

chore(ci): fix python indentation in distribution workflow
  .github/workflows/distribution.yml
Due: none

chore(ci): fix workflow indentation and env variables
  .github/workflows/pypi-release.yml
Due: none

docs: improve README headline for clarity on problem solved
  README.md
Due: none

feat(store): add rich telemetry and SQL classification support
  backend/src/mantora/mcp/proxy.py
  backend/src/mantora/models/events.py
  backend/src/mantora/store/memory.py
  backend/src/mantora/store/sqlite.py
  backend/tests/test_sqlite_migrations.py
Due: mypy-backend, pytest-backend

feat(connectors): add BigQuery, Snowflake, and Databricks adapters
  backend/src/mantora/api/routes_settings.py
  backend/src/mantora/connectors/__init__.py
  backend/src/mantora/connectors/bigquery.py
  backend/src/mantora/connectors/databricks.py
  backend/src/mantora/connectors/registry.py
  backend/src/mantora/connectors/snowflake.py
  backend/tests/test_adapters.py
  backend/tests/test_settings.py
  config.toml.example
Due: mypy-backend, pytest-backend

feat(api/export): add session exports and Casts feature
  backend/src/mantora/api/routes_casts.py
  backend/src/mantora/api/routes_sessions.py
  backend/src/mantora/export/__init__.py
  backend/src/mantora/export/cast_json.py
  backend/src/mantora/export/cast_md.py
  backend/src/mantora/export/session_json.py
  backend/src/mantora/export/session_md.py
  backend/tests/golden/export_with_blockers.md
  backend/tests/test_export.py
Due: mypy-backend, pytest-backend

feat(ui): visualize rich telemetry and casts
  README.md
  frontend/src/api/queries.ts
  frontend/src/api/types.ts
  frontend/src/components/RightPanel/RightPanel.tsx
  frontend/src/components/RightPanel/Timeline/TimelineFeed.tsx
  frontend/src/components/SessionStatsBar.tsx
  frontend/src/components/Workspace/EvidenceWorkspace.tsx
  frontend/src/pages/SessionDetailPage.tsx
  frontend/src/pages/SessionsPage.tsx
  frontend/src/utils/stepUtils.ts
Due: eslint, tsc-frontend

feat(mcp): capture git context & support manual UI overrides
  backend/pyproject.toml
  backend/src/mantora/api/routes_sessions.py
  backend/src/mantora/cli/mcp.py
  backend/src/mantora/config/loader.py
  backend/src/mantora/context/__init__.py
  backend/src/mantora/export/receipt.py
  backend/src/mantora/mcp/proxy.py
  backend/src/mantora/mcp/tools.py
  backend/src/mantora/models/events.py
  backend/src/mantora/policy/linter.py
  backend/src/mantora/policy/sql_guard.py
  backend/src/mantora/store/interface.py
  backend/src/mantora/store/memory.py
  backend/src/mantora/store/sqlite.py
  backend/tests/test_context_and_receipts.py
  backend/tests/test_sql_guard.py
  backend/tests/test_sqlite_migrations.py
  backend/tests/test_store_sqlite.py
  backend/uv.lock
  frontend/src/api/queries.ts
  frontend/src/api/types.ts
  frontend/src/components/RightPanel/RightPanel.tsx
  frontend/src/components/SessionStatsBar.tsx
  frontend/src/components/SessionSummaryCard.tsx
  frontend/src/components/Workspace/EvidenceWorkspace.tsx
  frontend/src/main.tsx
  frontend/src/pages/SessionDetailPage.tsx
  frontend/src/pages/SessionsPage.tsx
  frontend/src/pages/__tests__/SessionDetailPage.test.tsx
  frontend/src/pages/__tests__/SessionsPage.test.tsx
  frontend/src/utils/stepUtils.ts
Due: mypy-backend, pytest-backend, eslint, tsc-frontend

feat(mcp): capture git context & support manual UI overrides (#7)
  backend/pyproject.toml
  backend/src/mantora/api/routes_sessions.py
  backend/src/mantora/cli/mcp.py
  backend/src/mantora/config/loader.py
  backend/src/mantora/context/__init__.py
  backend/src/mantora/export/receipt.py
  backend/src/mantora/mcp/proxy.py
  backend/src/mantora/mcp/tools.py
  backend/src/mantora/models/events.py
  backend/src/mantora/policy/linter.py
  backend/src/mantora/policy/sql_guard.py
  backend/src/mantora/store/interface.py
  backend/src/mantora/store/memory.py
  backend/src/mantora/store/sqlite.py
  backend/tests/test_context_and_receipts.py
  backend/tests/test_sql_guard.py
  backend/tests/test_sqlite_migrations.py
  backend/tests/test_store_sqlite.py
  backend/uv.lock
  frontend/src/api/queries.ts
  frontend/src/api/types.ts
  frontend/src/components/RightPanel/RightPanel.tsx
  frontend/src/components/SessionStatsBar.tsx
  frontend/src/components/SessionSummaryCard.tsx
  frontend/src/components/Workspace/EvidenceWorkspace.tsx
  frontend/src/main.tsx
  frontend/src/pages/SessionDetailPage.tsx
  frontend/src/pages/SessionsPage.tsx
  frontend/src/pages/__tests__/SessionDetailPage.test.tsx
  frontend/src/pages/__tests__/SessionsPage.test.tsx
  frontend/src/utils/stepUtils.ts
Due: mypy-backend, pytest-backend, eslint, tsc-frontend

feat(policy): consolidate linting and add comprehensive tests
  backend/src/mantora/mcp/proxy.py
  backend/src/mantora/policy/linter.py
  backend/src/mantora/policy/sql_guard.py
  backend/tests/test_policy_linter.py
Due: mypy-backend, pytest-backend

feat(policy): consolidate linting and add comprehensive tests (#8)
  backend/src/mantora/mcp/proxy.py
  backend/src/mantora/policy/linter.py
  backend/src/mantora/policy/sql_guard.py
  backend/tests/test_policy_linter.py
Due: mypy-backend, pytest-backend

feat(api): implement advanced session filtering and UI
  backend/tests/test_store_search.py
  frontend/src/pages/SessionsPage.tsx
Due: mypy-backend, pytest-backend, eslint, tsc-frontend

feat(api): implement advanced session filtering and UI (#9)
  backend/tests/test_store_search.py
  frontend/src/pages/SessionsPage.tsx
Due: mypy-backend, pytest-backend, eslint, tsc-frontend

feat(api): add session summary tests and fix replay test cwd
  backend/tests/test_mock_mcp_replay.py
  backend/tests/test_session_summary.py
Due: mypy-backend, pytest-backend

test: add missing golden traces and mock server fixtures for CI
  backend/tests/fixtures/mock_bigquery_server.py
  backend/tests/fixtures/mock_databricks_server.py
  backend/tests/fixtures/mock_snowflake_server.py
  backend/tests/golden/bigquery/tools.json
  backend/tests/golden/bigquery/traces/error_permission.json
  backend/tests/golden/bigquery/traces/error_syntax.json
  backend/tests/golden/bigquery/traces/execute_sql_aggregate.json
  backend/tests/golden/bigquery/traces/execute_sql_select.json
  backend/tests/golden/bigquery/traces/get_table_info.json
  backend/tests/golden/bigquery/traces/list_dataset_ids.json
  backend/tests/golden/bigquery/traces/list_table_ids.json
  backend/tests/golden/databricks/tools.json
  backend/tests/golden/databricks/traces/describe_table.json
  backend/tests/golden/databricks/traces/error_syntax.json
  backend/tests/golden/databricks/traces/list_catalogs.json
  backend/tests/golden/databricks/traces/list_tables.json
  backend/tests/golden/databricks/traces/query_select.json
  backend/tests/golden/schema.json
  backend/tests/golden/snowflake/tools.json
  backend/tests/golden/snowflake/traces/describe_table.json
  backend/tests/golden/snowflake/traces/error_syntax.json
  backend/tests/golden/snowflake/traces/list_databases.json
  backend/tests/golden/snowflake/traces/list_schemas.json
  backend/tests/golden/snowflake/traces/list_tables.json
  backend/tests/golden/snowflake/traces/query_aggregate.json
  backend/tests/golden/snowflake/traces/query_select.json
Due: mypy-backend, pytest-backend

test: add missing mock_mcp_server fixture dependency
  backend/tests/__init__.py
  backend/tests/fixtures/mock_mcp_server.py
Due: mypy-backend, pytest-backend

feat(api): Session Summary & Analytics (#10)
  backend/tests/__init__.py
  backend/tests/fixtures/mock_bigquery_server.py
  backend/tests/fixtures/mock_databricks_server.py
  backend/tests/fixtures/mock_mcp_server.py
  backend/tests/fixtures/mock_snowflake_server.py
  backend/tests/golden/bigquery/tools.json
  backend/tests/golden/bigquery/traces/error_permission.json
  backend/tests/golden/bigquery/traces/error_syntax.json
  backend/tests/golden/bigquery/traces/execute_sql_aggregate.json
  backend/tests/golden/bigquery/traces/execute_sql_select.json
  backend/tests/golden/bigquery/traces/get_table_info.json
  backend/tests/golden/bigquery/traces/list_dataset_ids.json
  backend/tests/golden/bigquery/traces/list_table_ids.json
  backend/tests/golden/databricks/tools.json
  backend/tests/golden/databricks/traces/describe_table.json
  backend/tests/golden/databricks/traces/error_syntax.json
  backend/tests/golden/databricks/traces/list_catalogs.json
  backend/tests/golden/databricks/traces/list_tables.json
  backend/tests/golden/databricks/traces/query_select.json
  backend/tests/golden/schema.json
  backend/tests/golden/snowflake/tools.json
  backend/tests/golden/snowflake/traces/describe_table.json
  backend/tests/golden/snowflake/traces/error_syntax.json
  backend/tests/golden/snowflake/traces/list_databases.json
  backend/tests/golden/snowflake/traces/list_schemas.json
  backend/tests/golden/snowflake/traces/list_tables.json
  backend/tests/golden/snowflake/traces/query_aggregate.json
  backend/tests/golden/snowflake/traces/query_select.json
  backend/tests/test_mock_mcp_replay.py
  backend/tests/test_session_summary.py
Due: mypy-backend, pytest-backend

feat(test): add trace recording, sanitization, and golden trace tests
  backend/scripts/record_mcp_trace.py
  backend/src/mantora/mcp/trace_sanitizer.py
  backend/tests/test_adapters_bigquery.py
  backend/tests/test_adapters_databricks.py
  backend/tests/test_adapters_snowflake.py
  backend/tests/test_golden_traces.py
  backend/tests/test_trace_sanitizer.py
  docs/contributing/golden-traces.md
Due: mypy-backend, pytest-backend

feat(test): add trace recording, sanitization, and golden trace tests (#11)
  backend/scripts/record_mcp_trace.py
  backend/src/mantora/mcp/trace_sanitizer.py
  backend/tests/test_adapters_bigquery.py
  backend/tests/test_adapters_databricks.py
  backend/tests/test_adapters_snowflake.py
  backend/tests/test_golden_traces.py
  backend/tests/test_trace_sanitizer.py
  docs/contributing/golden-traces.md
Due: mypy-backend, pytest-backend

docs: Refactor README, add Privacy Policy and Issue Templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/new_adapter.md
  .github/workflows/ci.yml
  .github/workflows/distribution.yml
  CONTRIBUTING.md
  PRIVACY.md
  README.md
  docs/architecture.md
  docs/configuration.md
  docs/policy.md
Due: none

docs: Refactor README, add Privacy Policy and Issue Templates (#12)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/new_adapter.md
  .github/workflows/ci.yml
  .github/workflows/distribution.yml
  CONTRIBUTING.md
  PRIVACY.md
  README.md
  docs/architecture.md
  docs/configuration.md
  docs/policy.md
Due: none

feat(export): refine receipt format and UI
  README.md
  backend/pyproject.toml
  backend/src/mantora/api/routes_sessions.py
  backend/src/mantora/export/receipt.py
  backend/src/mantora/export/receipt_context.py
  backend/src/mantora/export/templates/receipt.md.j2
  backend/src/mantora/export/templates/receipt_plain.j2
  backend/tests/test_context_and_receipts.py
  backend/uv.lock
  frontend/src/api/queries.ts
  frontend/src/api/types.ts
  frontend/src/components/SessionSummaryCard.tsx
  frontend/src/pages/SessionDetailPage.tsx
  frontend/src/pages/__tests__/SessionDetailPage.test.tsx
Due: mypy-backend, pytest-backend, eslint, tsc-frontend

feat(export): refine receipt format and UI (#14)
  README.md
  backend/pyproject.toml
  backend/src/mantora/api/routes_sessions.py
  backend/src/mantora/export/receipt.py
  backend/src/mantora/export/receipt_context.py
  backend/src/mantora/export/templates/receipt.md.j2
  backend/src/mantora/export/templates/receipt_plain.j2
  backend/tests/test_context_and_receipts.py
  backend/uv.lock
  frontend/src/api/queries.ts
  frontend/src/api/types.ts
  frontend/src/components/SessionSummaryCard.tsx
  frontend/src/pages/SessionDetailPage.tsx
  frontend/src/pages/__tests__/SessionDetailPage.test.tsx
Due: mypy-backend, pytest-backend, eslint, tsc-frontend

docs: update README with new assets
  README.md
  docs/assets/dashboard.png
  docs/assets/md-render.png
  docs/assets/protect-modal.png
Due: none

ci: exclude docs and images from workflows
  .github/workflows/ci.yml
  .github/workflows/distribution.yml
Due: none

docs: refresh README images and layout (#16)
  .github/workflows/ci.yml
  .github/workflows/distribution.yml
  README.md
  docs/assets/dashboard.png
  docs/assets/md-render.png
  docs/assets/protect-modal.png
Due: none

fix: session status respects allowed blocker decisions
  backend/src/mantora/api/routes_sessions.py
  backend/src/mantora/export/receipt.py
  backend/src/mantora/export/session_md.py
  backend/tests/test_blocker_resolution.py
Due: mypy-backend, pytest-backend

fix: session status respects allowed blocker decisions (#17)
  backend/src/mantora/api/routes_sessions.py
  backend/src/mantora/export/receipt.py
  backend/src/mantora/export/session_md.py
  backend/tests/test_blocker_resolution.py
Due: mypy-backend, pytest-backend

chore: bump version to v0.2.0
  backend/src/mantora/__init__.py
  frontend/package.json
Due: mypy-backend, pytest-backend, eslint, tsc-frontend

chore: add agents.md paths to .gitignore
  .gitignore
Due: none

chore: add agents.md paths to .gitignore (#18)
  .gitignore
Due: none

chore: remove AGENTS.md files from git tracking
  AGENTS.md
  backend/AGENTS.md
  frontend/AGENTS.md
Due: mypy-backend, pytest-backend, eslint, tsc-frontend

chore: remove AGENTS.md files from git tracking (#19)
  AGENTS.md
  backend/AGENTS.md
  frontend/AGENTS.md
Due: mypy-backend, pytest-backend, eslint, tsc-frontend

refactor: simplify target management to UI-first workflow
  README.md
  backend/src/mantora/api/__init__.py
  backend/src/mantora/api/routes_targets.py
  backend/src/mantora/app.py
  backend/src/mantora/cli/mcp.py
  backend/src/mantora/cli/up.py
  backend/src/mantora/config/loader.py
  backend/src/mantora/models/targets.py
  backend/src/mantora/store/interface.py
  backend/src/mantora/store/memory.py
  backend/src/mantora/store/sqlite.py
  backend/tests/test_config_loader.py
  backend/tests/test_platform_config.py
  config.toml.example
  docs/architecture.md
  docs/configuration.md
  docs/policy.md
  frontend/src/api/queries.ts
  frontend/src/api/types.ts
  frontend/src/components/Layout/AppHeader.tsx
  frontend/src/components/Layout/TargetSwitcher.tsx
  frontend/src/components/Targets/TargetCard.tsx
  frontend/src/components/Targets/TargetsManagerDialog.tsx
  frontend/src/pages/SessionsPage.tsx
  mantora.toml.example
Due: mypy-backend, pytest-backend, eslint, tsc-frontend

refactor: use direct import for Target model
  backend/src/mantora/store/memory.py
  backend/src/mantora/store/sqlite.py
Due: mypy-backend, pytest-backend

style: fix RUF005 lint error in mcp.py
  backend/src/mantora/cli/mcp.py
Due: mypy-backend, pytest-backend

Refactor: UI-First Target Management & Clean Configuration (#20)
  README.md
  backend/src/mantora/api/__init__.py
  backend/src/mantora/api/routes_targets.py
  backend/src/mantora/app.py
  backend/src/mantora/cli/mcp.py
  backend/src/mantora/cli/up.py
  backend/src/mantora/config/loader.py
  backend/src/mantora/models/targets.py
  backend/src/mantora/store/interface.py
  backend/src/mantora/store/memory.py
  backend/src/mantora/store/sqlite.py
  backend/tests/test_config_loader.py
  backend/tests/test_platform_config.py
  config.toml.example
  docs/architecture.md
  docs/configuration.md
  docs/policy.md
  frontend/src/api/queries.ts
  frontend/src/api/types.ts
  frontend/src/components/Layout/AppHeader.tsx
  frontend/src/components/Layout/TargetSwitcher.tsx
  frontend/src/components/Targets/TargetCard.tsx
  frontend/src/components/Targets/TargetsManagerDialog.tsx
  frontend/src/pages/SessionsPage.tsx
  mantora.toml.example
Due: mypy-backend, pytest-backend, eslint, tsc-frontend

chore: bump version to v0.2.1
  backend/src/mantora/__init__.py
  frontend/package.json
Due: mypy-backend, pytest-backend, eslint, tsc-frontend
